.header__logo {
  max-width: 142px;
  /*min-height: 33px;*/
  margin: 0 0 41px;
}

@media screen and (max-width: 920px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 625px) {
  .header__logo {
    max-width: 104px;
    /*min-height: 25px;*/
    margin-bottom: 31px;
  }
}
  