.profile__btn-edit {
  background: url(./edit-button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  opacity: 1;
  border: none;
  margin:0;
  padding: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

@media screen and (max-width: 425px) {
  .profile__btn-edit {
    width: 18px;
    height: 18px;
  }

}

.profile__btn-edit:hover {
  cursor: pointer;
  opacity: 0.6;
}
