@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter.css");
@import url("./blocks/add-button/add-button.css");
@import url("./blocks/avatar/avatar.css");
@import url("./blocks/content/content.css");
@import url("./blocks/element/element.css");
@import url("./blocks/element/__heart/element__heart.css");
@import url("./blocks/element/__image/element__image.css");
@import url("./blocks/element/__title/element__title.css");
@import url("./blocks/element/__field/element__field.css");
@import url("./blocks/element/__image-wrapper/element__image-wrapper.css");
@import url("./blocks/element/__trash/element__trash.css");
@import url("./blocks/element/__trash/_active/element__trash_active.css");
@import url("./blocks/element/__popup/element__popup.css");
@import url("./blocks/element/__likes/element__likes.css");
@import url("./blocks/element/__likes-number/element__likes-number.css");
@import url("./blocks/elements/elements.css");
@import url("./blocks/elements/__list/elements__list.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__link/header__link.css");
@import url("./blocks/header/__text/header__text.css");
@import url("./blocks/header/__logged/header__logged.css");
@import url("./blocks/heart/heart.css");
@import url("./blocks/heart/_active/heart_active.css");
@import url("./blocks/logo/logo.css");
@import url("./blocks/page/page.css");
@import url("./blocks/page/__container/page__container.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_type/popup_type_edit-profile.css");
@import url("./blocks/popup/_type/popup_type_add-place.css");
@import url("./blocks/popup/_type/popup_type_full-image.css");
@import url("./blocks/popup/_type/popup_type_confirm.css");
@import url("./blocks/popup/_type/popup_type_avatar.css");
@import url("./blocks/popup/_type/popup_type_tooltip-success.css");
@import url("./blocks/popup/_type/popup_type_tooltip-error.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__btn-submit/popup__btn-submit.css");
@import url("./blocks/popup/__btn-submit/_inactive/popup__btn-submit_inactive.css");
@import url("./blocks/popup/__close/popup__close.css");
@import url("./blocks/popup/__close/_type/popup__close_type_add-place.css");
@import url("./blocks/popup/__close/_type/popup__close_type_edit-profile.css");
@import url("./blocks/popup/__close/_type/popup__close_type_full-image.css");
@import url("./blocks/popup/__form/popup__form.css");
@import url("./blocks/popup/__form-field/popup__form-field.css");
@import url("./blocks/popup/__form/_type/popup__form_type_add-place.css");
@import url("./blocks/popup/__form/_type/popup__form_type_edit-profile.css");
@import url("./blocks/popup/__form/_type/popup__form_type_avatar.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__input/_type/popup__input_type_error.css");
@import url("./blocks/popup/__input/_type/popup__input_type_job.css");
@import url("./blocks/popup/__input/_type/popup__input_type_name.css");
@import url("./blocks/popup/__input/_type/popup__input_type_place-link.css");
@import url("./blocks/popup/__input/_type/popup__input_type_place-name.css");
@import url("./blocks/popup/__input/_type/popup__input_type_avatar.css");
@import url("./blocks/popup/__figure/popup__figure.css");
@import url("./blocks/popup/__full-image-caption/popup__full-image-caption.css");
@import url("./blocks/popup/__full-image-wrapper/popup__full-image-wrapper.css");
@import url("./blocks/popup/__full-image/popup__full-image.css");
@import url("./blocks/popup/__error/popup__error.css");
@import url("./blocks/popup/__error/_visible/popup__error_visible.css");
@import url("./blocks/popup/__tooltip-icon/popup__tooltip-icon.css");
@import url("./blocks/popup/__tooltip-text/popup__tooltip-text.css");
@import url("./blocks/popup/__tooltip/popup__tooltip.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__btn-add/profile__btn-add.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__job/profile__job.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__text/profile__text.css");
@import url("./blocks/profile/__btn-edit/profile__btn-edit.css");
@import url("./blocks/profile/__name-wrapper/profile__name-wrapper.css");
@import url("./blocks/trash/trash.css");
@import url("./blocks/sign/sign.css");
@import url("./blocks/sign/__container/sign__container.css");
@import url("./blocks/sign/__title/sign__title.css");
@import url("./blocks/sign/__form/sign__form.css");
@import url("./blocks/sign/__input/sign__input.css");
@import url("./blocks/sign/__form-field/sign__form-field.css");
@import url("./blocks/sign/__btn-submit/sign__btn-submit.css");
@import url("./blocks/sign/__form-link-wrapper/sign__form-link-wrapper.css");

